$gr: #004d22;
$pk: #fcd7d7;

@mixin bg {
    background-position: 30% 30%;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin animate {
    top: 0;
    opacity: 1;
    transition: all 1s cubic-bezier(0.5, -4, 0.5, 5);
}
@mixin arrow {
    position: absolute;
    top: 50%;
    color: $gr;
    font-size: 50px;
    cursor: pointer;
    &:hover{
        font-size: 60px;
    }
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.container{
    max-width: 1170px;
    margin: auto;
    padding: 10px 10px 10px 60px;
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
    font-family: 'Redressed', cursive;
    font-size: 100px;
    color: $gr;
    text-shadow:  0 0 5px $pk, 10px 10px 10px #414141;
    padding-left: 50px;
}
main{
    position: relative;
    button{
        position: absolute;
        top: -70px;
        left: 43%;
        width: 200px;
        height: 50px;
        border-radius: 30px;
        background-color: $gr;
        font-weight: 700;
        color: $pk;
        text-transform: uppercase;
        box-shadow: 0 0 0 10px #0000002c;
        cursor: pointer;
        &:hover{
            border-style: inset;
            text-shadow: 0 0 5px #000;
        }
    }
    h2{
        font-size: 50px;
        text-transform: uppercase;
        color: $gr;
        text-align: center;
        padding: 30px 0 30px 50px;
    }
}

//burger menu ↓
nav{
    background-color: $gr;
    padding: 5px;
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 50px;
    transition: width 200ms ease-out;
    box-shadow: 1px 0 18px 6px #1a3d20a8;
    #logo{
        display: block;
        margin: 20px auto;
        transition: margin 300ms ease-out;
        text-align: center;
        .fa-pagelines{
            font-size: 50px;
        }
        #logo_span{
            display: none;
            font-family: 'Redressed', cursive;
        }
    }
    a{
        color: $pk;
    }
    #burger_ul{
        display: none;
        margin-top: 70px;
        li{
            text-align: center;
            text-transform: uppercase;
            padding: 10px;
            font-weight: 300;
        }   
    }
}
.burger{
    cursor: pointer;
    span{
        width: 30px;
        height: 4px;
        background-color: $pk;
        border-radius: 5px;
        display: block;
        margin: 5px auto;
        transition: all 500ms ease-out;
    }
}
.active_burger{
    width: 200px;
    #logo{
        font-size: 35px;
        margin-top: 60px;
    }
    .burger{
        span{
            &:nth-child(1){
                transform: translateY(9px) rotate(-45deg);
            }
            &:nth-child(2){
                transform: rotate(45deg);
            }
            &:nth-child(3){
                opacity: 0;
            }
        }
    }
}

//accordion ↓
header{
    display: flex;
    color: $pk;
    width: 100%;
    overflow: hidden;
    padding-left: 50px;
    // @include bg;
    background-image: url(../src/img/bg6.jpg);
    .acc_section{
        flex: 1;
        height: 300px;
        transform: skewX(-30deg);
        position: relative;
        padding: 5px;
        overflow: hidden;
        img{
            position: absolute;
            height: 150%;
            top: 0;
            bottom: 0;
            left: -25%;
            right: -25%;
            object-fit: cover;    
            transform: skewX(30deg);              
        }
        &:not(.acc_active){
            cursor: pointer;
        }
        h2{
            text-align: left;
            text-transform: uppercase;
            transform: rotate(-90deg);
            position: absolute;
            bottom: 100px;
        }
        .acc_displ{
            display: none;
        }
    }
    .acc_active{
        flex: 2;
        h2{
            display: none;
        }
        .acc_displ{
            color: $gr;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            margin: auto;
            width: 100%;
            height: 100%;
            background-color: #ffffff93;
            padding: 18%;
            p{
                padding-top: 10px;
                font-size: 13px;
                font-weight: 700;
                text-align: justify;
                transform: skewX(30deg);
            }
            h3{
                text-align: center;
                position: relative;
                padding-bottom: 10px;
                padding-right: 20%;
                text-transform: uppercase;
                transform: skewX(30deg);

                &:after{
                    content: '';
                    position: absolute;
                    right: 50%;
                    bottom: 0;
                    width: 50px;
                    height: 2px;
                    background-color: $gr;
                }
            }
        }
    }
}
@media(max-width: 1000px){
    header .acc_section, header .acc_active .acc_displ p, header .acc_active .acc_displ h3, header .acc_section img{
        transform: none;
    }
    header .acc_section img{
        height: 100%;
    }
    header .acc_active .acc_displ h3{
        padding-right: 0;
        text-align: left;
        &:after{
            left: 0;
        }
    }
}
@media(max-width: 750px){
    h1{
        font-size: 70px;
    }
    main button{
        width: 150px;
        height: 35px;
        top: -40px;
        left: 40%;
    }
    header{
        height: 250px;
        .acc_active .acc_displ{
            padding: 10%;
            p{
                font-size: 12px;
            }
        }
        .acc_section h2{
            font-size: 15px;
            position: absolute;
            bottom: 150px;
        }
    }
}
@media(max-width: 550px){
    header{
        height: 250px;
        .acc_active .acc_displ{
            padding: 12%;
            p{
                font-size: 9px;
            }
        }
        .acc_section h2{
            font-size: 12px;
            position: absolute;
            bottom: 150px;
        }
    }
}
//Grid ↓
.grid{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px;
    padding-left: 50px;
    grid-gap: 5px;
    .fr3{
        grid-row: span 3;
    }
    .fr2{
        grid-column: span 2;
    }
    & > div{
        position: relative;
        img{
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .grid_flex{
            display: none;
            background: linear-gradient(0deg, #fcd7d7 0%, #fcd7d700 100%);
            padding: 10px;
            height: 100%;
            // text-align: justify;
            p, a{
                color: $gr;
                line-height: 1;
            }
            .name{
                text-transform: uppercase;
                font-size: 13px;
                padding-right: 5px;
            }
            .mail{
                font-size: 11px;
            }
            .small_flex{
                display: flex;
                justify-content: space-between;
                font-weight: 700;
            }
        }
        &:hover .grid_flex{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}
@media(max-width: 850px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width: 630px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
        & > div:last-child{
            grid-column: 2;
            grid-row: 4;
        }
    }
}
@media(max-width: 430px){
    .grid{
        grid-template-columns: 1fr;
        & > div:last-child{
            grid-column: 1;
            grid-row: 11;
        }
        .fr3{
            grid-row: span 2;
        }
        .fr2{
            grid-row: span 2;
            grid-column: span 1;
        }
    }
}

//Animate gallery ↓
#animate_gallery{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.img_container{
    max-width: 750px;
    height: 300px;
    box-shadow: 0 0 0 10px #0000002c;
    border-radius: 10px;
    margin-bottom: 30px;
    cursor: zoom-in;
    &:nth-child(odd){
        position: relative;
        left: -40px;
        top: -20px;
        opacity: 0;
    }
    &:nth-child(3){
        top: 20px;
    }
    &:nth-child(even){
        position: relative;
        right: -40px;
        top: -20px;
        margin-left: auto;
        opacity: 0;
    }
    &:nth-child(4){
        top: 20px;
    }
    img{
        height: 100%;
        width: 100%;
        border: 2px outset #8b8b8b;
        border-radius: 10px;
        object-fit: cover;
        &:hover{
            border-style: inset;
        }
    }
}
.img_visible{
    &:nth-child(odd){
        left: 20px;
        @include animate;
    }
    &:nth-child(even){
        right: 20px;
        @include animate;
    }
}
.hidden_modal{
    display: none;
    img{
        display: none;
    }
}
.visible_modal{
    display: block;
    position: fixed;
    cursor: zoom-out;
    z-index: 2;
    background-color: #00000083;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    img{
        display: block;
        margin: auto;
        object-fit: cover;
        width: 80%;
        height: 80vh;
        margin-top: 10vh;
    }
}
@media(max-width:850px){
    .img_container{
        width: 450px;
    }
}
@media(max-width:550px){
    .img_container{
        width: 300px;
        height: 150px;
    }
}

//Slider ↓

.item_text{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $gr;
    flex: 1.5;
    h3{
        text-transform: uppercase;
        position: relative;
        margin-bottom: 20px;
        &::after{
            content: " ";
            width: 150px;
            height: 2px;
            background: linear-gradient(90deg, rgba(0,77,34,1) 0%, rgba(0,77,34,0) 100%);
            position: absolute;
            left: 0;
            bottom: -10px;
        }
    }
}
.slider_item{
    display: none;
    height: 300px;
    padding: 30px;
    img{
        flex: 1;
        object-fit: contain;
    }
}
.active_slider{
    display: flex;
}
#slider .container{
    position: relative;
    .fa-chevron-left{
        @include arrow;
        left: 60px;
    }
    .fa-chevron-right{
        @include arrow;
        right: 10px;
    }
}
.flex_pagination{
    display: flex;
    justify-content: center;
    margin: 10px;
    .pagination{
        margin: 5px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: $gr;
    }
    .active_pagination{
        background-color: $pk;
        border: 1px solid $gr;
    }
}
@media(max-width:550px){
    .slider_item{
        height: auto;
        flex-direction: column;
    }
    .item_text h3{
        margin-top: 30px;
    }
}